nav{
   
    box-shadow: none;
    
    background: transparent;
}
html{
        font-size: 14px !important;

    font-family: monospace;
    background: white;

}
ul{
    background: transparent;
}
.brand-logo{
    font-size: 1.5em!important;
    margin-left: 10px;
    font-weight: 100!mportant;
}
a{
    color: gray!important;
}
